@baseColor: #ffffff;
@siteBlack: #000000;
@SitePrimary:  #5E35D8;
@SiteDarkPrimary:  #512DA8;
@lightPrimary: #EFF6FF;
// @primaryColor_1: #2E82FF;


@grayColor_1: #F8F7FB;
@grayColor_2: #656565;
@grayColor_3: #555555;
@grayColor_4:#CED4DA;
@grayColor_5:  #888888;
@grayColor_6: #A6A6A6;
// @grayColor_7: #BFBFBF;
// @grayColor_8: #ABABAB;
// @grayColor_9: #E9EDFF;
// @grayColor_10: #747474;
// @grayColor_11: #585858;
@black_1: #333333; 

@danger: #FF0000;
@danger_2:#E85656;
@lightDanger: #f8cccc;
@lightDanger_2: #FFEAEA;

@bgWarning: #fdcb44;
@warningColor_4: #F3C600;
@warningLightColor:#fce8dc;
@warningDarkColor:#e77636 ;
// @warningColor_1: #F97316;
// @warningColor_2: #F3BA00;
// @warningColor_3: #FFF4CE;

@success: #35AD51;
@successColor_1: #46B15E;
@successLightColor:#D7FFE0;
@successDarkColor:#0c8328;

@background_color_1: #7ECA5C;
@background_color_2: #2471DD;
@background_color_3: #D05254;
@background_color_4: #F3F3F3;
@background_color_5: #fdcb44;
@background_color_6: #F2F7FF;
@background_color_7: #fdf2ff;