@page "/comment"
<div class="container-xl mx-auto">
    <div class="bg-white p-4 shadow rounded">

        <h4 class="mb-4">Comment</h4>
        <div class="row">
            <div class="col-md-6">
                <label class="fw-semibold">Select Row</label>
                <select class="form-select mb-3">
                    <option value="">Select</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>

            <div class="col-md-6">
                <label class="fw-semibold">Question Number</label>
                <select class="form-select mb-3">
                    <option value="">Select</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
        </div>

        <!-- Comment Box -->
        <label class="fw-bold">Enter your comment</label>
        <textarea maxlength="500" class="form-control mb-4" rows="4"></textarea>

        <!-- Table -->
        <table class="table table-bordered align-middle">
            <thead class="table-secondary">
                <tr>
                    <th>Comment</th>
                    <th>Item Number</th>
                    <th>Member Sr.</th>
                    <th style="width: 120px;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>dgddgdgdgd</td>
                    <td>13</td>
                    <td></td>
                    <td class="d-flex gap-2">
                        <button class="btn btn-success btn-sm d-flex gap-2">
                            <i class="bi bi-check-circle"></i> Edit
                        </button>
                        <button class="btn btn-danger btn-sm d-flex gap-2">
                            <i class="bi bi-x-circle"></i> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Footer Buttons -->
        <div class="mt-3 d-flex justify-content-end gap-2">
            <button class="btn btn-primary d-flex gap-2">
                <i class="bi bi-check-circle"></i> Submit
            </button>
            <button class="btn btn-secondary d-flex gap-2">
                <i class="bi bi-x-circle"></i> Close
            </button>
        </div>

    </div>
</div>

@code {

}
